<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" rel="stylesheet" href="./style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>

<body class="container">
    <div align="center" class="box" style="margin-top: 10%;">
        <h1> hi <%= name.id %>
        </h1><br><br>
        <video width="50%" height="30%" controls muted autoplay id="vdo">
            <source src="./src/X2Download.app-Rick Astley - Never Gonna Give You Up (Official Music Video).mp4"
                type="video/mp4">
        </video>

        <script>
            const VDO = document.getElementById('vdo')
            console.log(VDO);

            setTimeout(() => {
                VDO.muted = !VDO.muted
            }, 100)
        </script>
    </div>
</body>

</html>